.footer {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 40px;
  background-color: $light-grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  border-top: 2px solid $light-grey;
  p {
    text-align: center;
    font-size: 0.85em;
    line-height: 17px;
    opacity: 0.9;
  }
}
