.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-top: 2px solid $light-grey;
  p {
    text-align: center;
    font-size: 0.9em;
    line-height: 20px;
    opacity: 0.9;
  }
}
