.sidebar {
  box-sizing: border-box;
  text-align: center;
  padding-left: 25px;
  flex: 1 25%;
  h5 {
    color: $teal;
    margin-bottom: 20px;
  }
  h6 {
    color: $pink;
  }
  iframe {
    margin: 20px 0;
    height: 30vh;
    max-height: 300px;
    width: 100%;
    border: 0;
  }
  @media #{$small-break} {
    flex: 1 100%;
  }
  img {
    width: 130px;
  }
}

.well {
  background-color: $light-grey;
  padding: 13px;
}
