.sidebar {
  text-align: center;
  padding: 0 20px;
  flex: 1 30%;
  h5 {
    color: $teal;
  }
  h6 {
    color: $pink;
  }
  p {
    margin: 10px 0;
    padding: 10px;
  }
  iframe {
    margin: 20px 0;
    height: 30vh;
    max-height: 300px;
    width: 100%;
    border: 0;
  }
  @media #{$small-break} {
    flex: 1 100%;
  }
  img {
    width: 130px;
  }
}
