@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Cabin+Condensed:400,700|Noto+Serif');

$header-font: 'Noto Serif', Georgia, Times, serif;
$cursive-font: 'Alex Brush', serif;
$normal-font: 'Cabin Condensed', 'Helvetica Neue', Helvetica, sans-serif;
