.slideshow {
  flex: 1 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 40vh;
  max-height: 400px;
  margin-bottom: 20px;
  position: relative;
}

@for $i from 1 through 6 {
  .slideshow#{$i} {
    background-image: url("../img/slide_#{$i}.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    h3 {
      position: absolute;
      text-shadow: 2px 2px 2px black;
      left: 5%;
      bottom: 10%;
      color: white;
    }
    @if ($i == 1) {
      background-position: 50% 75%;
    } @else if ($i == 2) {
      background-position: 50% 90%;
    } @else if ($i == 3) {
      background-position: center;
    } @else if ($i == 4) {
      background-position: 50% 28%;
    } @else if ($i == 5) {
      background-position: 50% 75%;
    } @else if ($i == 6) {
      background-position: 50% 60%;
    }

  }
}
