ul, li, div, p, span, section {
  font-family: $normal-font;
  color: $dark-grey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-size: 1.7em;
  @media #{$medium-break} {
    font-size: 1.5em;
  }
}

h4 {
  font-size: 1.6em;
  @media #{$medium-break} {
    font-size: 1.4em;
  }
}

h5 {
  text-align: center;
  font-size: 1.3em;
}

h6 {
  text-align: center;
  font-size: 1.2em;
}

a {
  color: $teal;
  text-decoration: none;
}

.highlight {
  letter-spacing: 1px;
}
.main, .about-page, .individual-therapy-page, .couples-therapy-page, .adoption-therapy-page, .parent-coaching-page, .training-page, .hours-and-fees-page {
  h2 {
    font-size: 1.6em;
    margin: 10px;
    width: 100%;
    text-align: center;
    color: $pink;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  h4 {
    margin: 7px;
    color: $teal;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

}
