ul, li, div, p, span, section {
  font-family: $normal-font;
  color: $dark-grey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-size: 1.7em;
  @media #{$medium-break} {
    font-size: 1.5em;
  }
}

h4 {
  font-size: 1.6em;
  @media #{$medium-break} {
    font-size: 1.4em;
  }
}

h5 {
  text-align: center;
  font-size: 1.3em;
}

h6 {
  text-align: center;
  font-size: 1.2em;
}

a {
  color: $grey;
  text-decoration: none;
}

.highlight {
  letter-spacing: 1px;
}
