@mixin page-content {
  box-sizing: border-box;
  display: flex;
  padding: 0 20px 20px 20px;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  flex: 1 75%;
  p {
    font-size: 1.1em;
    line-height: 1.5em;
    max-width: 800px;
  }
  @media #{$small-break} {
    flex: 1 100%;
  }
}

@mixin services-header($image, $position) {
  .jumbo {
    height: 240px;
    flex: 1 100%;
    background: url('../img/slide_#{$image}.jpg');
    background-size: cover;
    background-position: $position;
    position: relative;
    h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-shadow: 3px 3px 3px black;
      text-align: center;
    }
  }
}
