// Colors

$teal: #009F9A;
$pink: #D17F84;
$light-grey: #eee;
$grey: #999;
$dark-grey: #666;


// Media queries

$medium-break: "screen and (max-width: 950px)";
$small-break: "screen and (max-width: 700px)";
